<details style="margin-top: 1rem;">
  <summary>Display options</summary>
  <div class="row" style="align-items: center; margin-top: 0.5rem;">
    <label for="f-system">Show system card in front</label>
    <input type="checkbox" id="f-system" name="system" />
  </div>
  <hr />
  <div class="row" style="align-items: center;">
    <label for="f-pronouns">Hide pronouns in lists</label>
    <input type="checkbox" id="f-pronouns" name="pronouns" />
  </div>
  <div class="row" style="align-items: center;">
    <label for="f-displayname">Use display name in lists</label>
    <input type="checkbox" id="f-displayname" name="displayname" />
  </div>
  <hr />
  <div class="row" style="align-items: center;">
    <label for="f-proxy-avatar-list">Use proxy avatars in lists</label>
    <input type="checkbox" id="f-proxy-avatar-list" name="proxy-avatar-list" />
  </div>
  <div class="row" style="align-items: center;">
    <label for="f-proxy-avatar-card">Use proxy avatars on member pages</label>
    <input type="checkbox" id="f-proxy-avatar-card" name="proxy-avatar-card" />
  </div>
  <div class="row" style="align-items: center;">
    <label for="f-no-categories">Don't categorize members by the alphabet</label>
    <input type="checkbox" id="f-no-categories" name="no-categories" />
  </div>
  <hr />
  <div class="row" style="margin-bottom: 0.5rem; margin-top: 0.5rem">
    <label for="f-layout-list">Cards used in lists:</label>
    <select id="f-layout-list" name="layout-list">
      <option value="">Small (default)</option>
      <option value="f">Full PluralKit embed</option>
    </select>
  </div>
  <div class="row" style="margin-bottom: 0.5rem; margin-top: 0.5rem">
    <label for="f-layout-card">Layout used in linked cards:</label>
    <select id="f-layout-card" name="layout-card">
      <option value="">Default</option>
      <option value="pk">PluralKit embed</option>
    </select>
  </div>
</details>
